food/node_modules/
rn-starter/node_modules/
tracker-app/tracks/node_modules/
tracker-app/track-server/node_modules/
food/.expo/
rn-starter/.expo/
tracker-app/tracks/.expo/
tracker-app/track-server/.expo/
food/dist/
rn-starter/dist/
tracker-app/tracks/dist/
tracker-app/track-server/dist/
food/.dist/
rn-starter/.dist/
tracker-app/tracks/.dist/
tracker-app/track-server/.dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
food/web-build/
rn-starter/web-build/
tracker-app/tracks/web-build/
tracker-app/track-server/web-build/

# macOS
.DS_Store
